<br><br><br>

<style>
  .readmore{
    display: none;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>

<div class="container">
<% if @blog.draft != 1 || session[:id] != nil %>
    <article class="row">
      <div class="col-lg-10 col-md-9 col-sm-9">
        <p class="clearfix">
          <span class="day" style="color: #8e2522"><%= @blog.date.strftime("%d") %></span><span class="month-year"><b><%= @blog.date.strftime("%^b") %></b><br><%= @blog.date.strftime("%Y") %></span>
        </p>
        <ul class="list-unstyled">


          <li><span class="blog-readable"><i class="fa fa-user" style="color: #8e2522"></i> By <%=@authors.first(:id => @blog.author).firstname %></span></li>

        </ul>
        </div>
        <h3><a href="/blog/v/<%= @blog.id%>" style="color: #8e2522"><%= @blog.title%></a>
          <% if @blog.draft == 1 %>
              <small>(Draft)</small>
          <% end %>
          <%if session[:visited]%>
              <%if @u.perm >= 2 || (@u.id == @blog.author && @blog.draft==1) %>

                  <a type="submit" class="delete"><i class="fa fa-times fa-lg"></i></a>
                  <a class="delete" href="/blog/edit/<%= @blog.id%>"><i class="fa fa-pencil fa-lg"></i></a>
              <%end%>
          <%end%>
        </h3>
        <hr>
        <img src="<%= @blog.url %>">
        <div class="post-entry">
          <%= @blog.content%>
        </div>


    </article>
<%end%>
</div>