<img src="https://doc-14-8k-docs.googleusercontent.com/docs/securesc/9pu5hv4f7s24pbibn2sbr5pn2g9ipto6/vfo6hrqfjjeerldm0rnvb427grlpdfnb/1468533600000/12453473350128145854/12453473350128145854/0B9fLuQgkM5y1T050WjNRS2o0WWM?e=view">
<div class="container">

<form id="blog-make-form" action="<%= @isEdit ? "/blog/edit/#{@blog.id}" : "/blog/new" %>" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>

    <div class="controls">
      <input type="text" id="inputTitle" name="title" class="form-control" value="<%= @isEdit ? @blog.title : '' %>" placeholder="Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDate">At Date</label>

    <div class="controls">
      <input type="text" class="form-control" id="inputDate" name="date" value="<%= @isEdit ? @blog.date.to_s : Date.today.to_s %>">
      <% #Time here is for display purposes only. The real time is set in the post.  %>
    </div>
  </div>



  <br/>
</form>
</div>
<br/>





<!-- Create the toolbar container -->
<div id="toolbar">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
  <button class="ql-image">Insert Image</button>
</div>

<!-- Create the editor container -->
<div id="editor">
  <div>Hello World!</div>
  <div>Some initial <b>bold</b> text</div>
  <div><br></div>
</div>

<!-- Include the Quill library -->
<script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor');
  quill.addModule('toolbar', { container: '#toolbar' });
</script>






<% if @isEdit %>
    <form method="post" action="/blog/del/<%= @blog.id %>">
<% end %>
<div class="control-group">
  <div class="controls">
    <button type="submit" form="blog-make-form" name="draft" class="btn btn-info"><%= (@isEdit && !@blog.draft == 0) ? '<span class="fa fa-eye-slash"></span> Demote to Draft' : '<span class="fa fa-pencil-square-o"></span> Save as Draft' %></button>
    <% if @publishC %>
    <button type="submit" form="blog-make-form" name="publish" class="btn btn-success">
      <span class="fa fa-cloud-upload"></span> Publish Post
    </button>
        <% end %>
    <% if @isEdit && @publishC %>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete Post?');"><span class="fa fa-trash"></span>
          Delete Post
        </button>
    <% end %>
  </div>
</div>
<% if @isEdit %>
    </form>
<% end %>

</div>