<header class="header-image">
<div class="headline">
  <div class="container">
    <!--<h1>Westport Library Makerspace</h1>
    <h2>Come in, Go far</h2>-->

    <img class="logo" src="/ms_logo_alt_white_w_wl_logo_w_border.png">

  </div>
</div>

</header>
<div class="container">

<form id="blog-make-form" action="<%= @isEdit ? "/blog/edit/#{@blog.id}" : "/blog/new" %>" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>

    <div class="controls">
      <input type="text" id="inputTitle" name="title" class="form-control" value="<%= @isEdit ? @blog.title : '' %>" placeholder="Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDate">At Date</label>

    <div class="controls">
      <input type="text" class="form-control" id="inputDate" name="date" value="<%= @isEdit ? @blog.date.to_s : Date.today.to_s %>">
      <% #Time here is for display purposes only. The real time is set in the post.  %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="content">Message</label>
    <div id="toolbar" class="toolbar ql-toolbar ql-snow"><span class="ql-format-group"><span title="Font" class="ql-font ql-picker"><span class="ql-picker-label" data-value="sans-serif">Sans Serif</span><span class="ql-picker-options"><span data-value="sans-serif" class="ql-picker-item ql-selected">Sans Serif</span><span data-value="serif" class="ql-picker-item">Serif</span><span data-value="monospace" class="ql-picker-item">Monospace</span></span></span><select title="Font" class="ql-font" style="display: none;"><option value="sans-serif" selected="">Sans Serif</option><option value="serif">Serif</option><option value="monospace">Monospace</option></select><span title="Size" class="ql-size ql-picker"><span class="ql-picker-label" data-value="13px">Normal</span><span class="ql-picker-options"><span data-value="10px" class="ql-picker-item">Small</span><span data-value="13px" class="ql-picker-item ql-selected">Normal</span><span data-value="18px" class="ql-picker-item">Large</span><span data-value="32px" class="ql-picker-item">Huge</span></span></span><select title="Size" class="ql-size" style="display: none;"><option value="10px">Small</option><option value="13px" selected="">Normal</option><option value="18px">Large</option><option value="32px">Huge</option></select></span><span class="ql-format-group"><span title="Bold" class="ql-format-button ql-bold"></span><span class="ql-format-separator"></span><span title="Italic" class="ql-format-button ql-italic"></span><span class="ql-format-separator"></span><span title="Underline" class="ql-format-button ql-underline"></span><span class="ql-format-separator"></span><span title="Strikethrough" class="ql-format-button ql-strike"></span></span><span class="ql-format-group"><span title="Text Color" class="ql-color ql-picker ql-color-picker"><span class="ql-picker-label" data-value="rgb(0, 0, 0)"></span><span class="ql-picker-options"><span data-value="rgb(0, 0, 0)" class="ql-picker-item ql-selected ql-primary-color" style="background-color: rgb(0, 0, 0);"></span><span data-value="rgb(230, 0, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(230, 0, 0);"></span><span data-value="rgb(255, 153, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(255, 153, 0);"></span><span data-value="rgb(255, 255, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(255, 255, 0);"></span><span data-value="rgb(0, 138, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(0, 138, 0);"></span><span data-value="rgb(0, 102, 204)" class="ql-picker-item ql-primary-color" style="background-color: rgb(0, 102, 204);"></span><span data-value="rgb(153, 51, 255)" class="ql-picker-item ql-primary-color" style="background-color: rgb(153, 51, 255);"></span><span data-value="rgb(255, 255, 255)" class="ql-picker-item" style="background-color: rgb(255, 255, 255);"></span><span data-value="rgb(250, 204, 204)" class="ql-picker-item" style="background-color: rgb(250, 204, 204);"></span><span data-value="rgb(255, 235, 204)" class="ql-picker-item" style="background-color: rgb(255, 235, 204);"></span><span data-value="rgb(255, 255, 204)" class="ql-picker-item" style="background-color: rgb(255, 255, 204);"></span><span data-value="rgb(204, 232, 204)" class="ql-picker-item" style="background-color: rgb(204, 232, 204);"></span><span data-value="rgb(204, 224, 245)" class="ql-picker-item" style="background-color: rgb(204, 224, 245);"></span><span data-value="rgb(235, 214, 255)" class="ql-picker-item" style="background-color: rgb(235, 214, 255);"></span><span data-value="rgb(187, 187, 187)" class="ql-picker-item" style="background-color: rgb(187, 187, 187);"></span><span data-value="rgb(240, 102, 102)" class="ql-picker-item" style="background-color: rgb(240, 102, 102);"></span><span data-value="rgb(255, 194, 102)" class="ql-picker-item" style="background-color: rgb(255, 194, 102);"></span><span data-value="rgb(255, 255, 102)" class="ql-picker-item" style="background-color: rgb(255, 255, 102);"></span><span data-value="rgb(102, 185, 102)" class="ql-picker-item" style="background-color: rgb(102, 185, 102);"></span><span data-value="rgb(102, 163, 224)" class="ql-picker-item" style="background-color: rgb(102, 163, 224);"></span><span data-value="rgb(194, 133, 255)" class="ql-picker-item" style="background-color: rgb(194, 133, 255);"></span><span data-value="rgb(136, 136, 136)" class="ql-picker-item" style="background-color: rgb(136, 136, 136);"></span><span data-value="rgb(161, 0, 0)" class="ql-picker-item" style="background-color: rgb(161, 0, 0);"></span><span data-value="rgb(178, 107, 0)" class="ql-picker-item" style="background-color: rgb(178, 107, 0);"></span><span data-value="rgb(178, 178, 0)" class="ql-picker-item" style="background-color: rgb(178, 178, 0);"></span><span data-value="rgb(0, 97, 0)" class="ql-picker-item" style="background-color: rgb(0, 97, 0);"></span><span data-value="rgb(0, 71, 178)" class="ql-picker-item" style="background-color: rgb(0, 71, 178);"></span><span data-value="rgb(107, 36, 178)" class="ql-picker-item" style="background-color: rgb(107, 36, 178);"></span><span data-value="rgb(68, 68, 68)" class="ql-picker-item" style="background-color: rgb(68, 68, 68);"></span><span data-value="rgb(92, 0, 0)" class="ql-picker-item" style="background-color: rgb(92, 0, 0);"></span><span data-value="rgb(102, 61, 0)" class="ql-picker-item" style="background-color: rgb(102, 61, 0);"></span><span data-value="rgb(102, 102, 0)" class="ql-picker-item" style="background-color: rgb(102, 102, 0);"></span><span data-value="rgb(0, 55, 0)" class="ql-picker-item" style="background-color: rgb(0, 55, 0);"></span><span data-value="rgb(0, 41, 102)" class="ql-picker-item" style="background-color: rgb(0, 41, 102);"></span><span data-value="rgb(61, 20, 102)" class="ql-picker-item" style="background-color: rgb(61, 20, 102);"></span></span></span><select title="Text Color" class="ql-color" style="display: none;"><option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected=""></option><option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option><option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option><option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option><option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option><option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option><option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option><option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option><option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option><option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option><option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option><option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option><option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option><option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option><option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option><option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option><option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option><option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option><option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option><option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option><option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option><option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option><option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option><option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option><option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option><option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option><option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option><option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option><option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option><option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option><option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option><option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option><option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option><option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option><option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option></select><span class="ql-format-separator"></span><span title="Background Color" class="ql-background ql-picker ql-color-picker"><span class="ql-picker-label" data-value="rgb(255, 255, 255)"></span><span class="ql-picker-options"><span data-value="rgb(0, 0, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(0, 0, 0);"></span><span data-value="rgb(230, 0, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(230, 0, 0);"></span><span data-value="rgb(255, 153, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(255, 153, 0);"></span><span data-value="rgb(255, 255, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(255, 255, 0);"></span><span data-value="rgb(0, 138, 0)" class="ql-picker-item ql-primary-color" style="background-color: rgb(0, 138, 0);"></span><span data-value="rgb(0, 102, 204)" class="ql-picker-item ql-primary-color" style="background-color: rgb(0, 102, 204);"></span><span data-value="rgb(153, 51, 255)" class="ql-picker-item ql-primary-color" style="background-color: rgb(153, 51, 255);"></span><span data-value="rgb(255, 255, 255)" class="ql-picker-item ql-selected" style="background-color: rgb(255, 255, 255);"></span><span data-value="rgb(250, 204, 204)" class="ql-picker-item" style="background-color: rgb(250, 204, 204);"></span><span data-value="rgb(255, 235, 204)" class="ql-picker-item" style="background-color: rgb(255, 235, 204);"></span><span data-value="rgb(255, 255, 204)" class="ql-picker-item" style="background-color: rgb(255, 255, 204);"></span><span data-value="rgb(204, 232, 204)" class="ql-picker-item" style="background-color: rgb(204, 232, 204);"></span><span data-value="rgb(204, 224, 245)" class="ql-picker-item" style="background-color: rgb(204, 224, 245);"></span><span data-value="rgb(235, 214, 255)" class="ql-picker-item" style="background-color: rgb(235, 214, 255);"></span><span data-value="rgb(187, 187, 187)" class="ql-picker-item" style="background-color: rgb(187, 187, 187);"></span><span data-value="rgb(240, 102, 102)" class="ql-picker-item" style="background-color: rgb(240, 102, 102);"></span><span data-value="rgb(255, 194, 102)" class="ql-picker-item" style="background-color: rgb(255, 194, 102);"></span><span data-value="rgb(255, 255, 102)" class="ql-picker-item" style="background-color: rgb(255, 255, 102);"></span><span data-value="rgb(102, 185, 102)" class="ql-picker-item" style="background-color: rgb(102, 185, 102);"></span><span data-value="rgb(102, 163, 224)" class="ql-picker-item" style="background-color: rgb(102, 163, 224);"></span><span data-value="rgb(194, 133, 255)" class="ql-picker-item" style="background-color: rgb(194, 133, 255);"></span><span data-value="rgb(136, 136, 136)" class="ql-picker-item" style="background-color: rgb(136, 136, 136);"></span><span data-value="rgb(161, 0, 0)" class="ql-picker-item" style="background-color: rgb(161, 0, 0);"></span><span data-value="rgb(178, 107, 0)" class="ql-picker-item" style="background-color: rgb(178, 107, 0);"></span><span data-value="rgb(178, 178, 0)" class="ql-picker-item" style="background-color: rgb(178, 178, 0);"></span><span data-value="rgb(0, 97, 0)" class="ql-picker-item" style="background-color: rgb(0, 97, 0);"></span><span data-value="rgb(0, 71, 178)" class="ql-picker-item" style="background-color: rgb(0, 71, 178);"></span><span data-value="rgb(107, 36, 178)" class="ql-picker-item" style="background-color: rgb(107, 36, 178);"></span><span data-value="rgb(68, 68, 68)" class="ql-picker-item" style="background-color: rgb(68, 68, 68);"></span><span data-value="rgb(92, 0, 0)" class="ql-picker-item" style="background-color: rgb(92, 0, 0);"></span><span data-value="rgb(102, 61, 0)" class="ql-picker-item" style="background-color: rgb(102, 61, 0);"></span><span data-value="rgb(102, 102, 0)" class="ql-picker-item" style="background-color: rgb(102, 102, 0);"></span><span data-value="rgb(0, 55, 0)" class="ql-picker-item" style="background-color: rgb(0, 55, 0);"></span><span data-value="rgb(0, 41, 102)" class="ql-picker-item" style="background-color: rgb(0, 41, 102);"></span><span data-value="rgb(61, 20, 102)" class="ql-picker-item" style="background-color: rgb(61, 20, 102);"></span></span></span><select title="Background Color" class="ql-background" style="display: none;"><option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option><option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option><option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option><option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option><option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option><option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option><option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option><option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)" selected=""></option><option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option><option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option><option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option><option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option><option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option><option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option><option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option><option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option><option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option><option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option><option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option><option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option><option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option><option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option><option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option><option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option><option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option><option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option><option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option><option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option><option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option><option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option><option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option><option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option><option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option><option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option><option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option></select></span><span class="ql-format-group"><span title="List" class="ql-format-button ql-list"></span><span class="ql-format-separator"></span><span title="Bullet" class="ql-format-button ql-bullet"></span><span class="ql-format-separator"></span><span title="Text Alignment" class="ql-align ql-picker"><span class="ql-picker-label" data-value="left"></span><span class="ql-picker-options"><span data-value="left" class="ql-picker-item ql-selected"></span><span data-value="center" class="ql-picker-item"></span><span data-value="right" class="ql-picker-item"></span><span data-value="justify" class="ql-picker-item"></span></span></span><select title="Text Alignment" class="ql-align" style="display: none;"><option value="left" label="Left" selected=""></option><option value="center" label="Center"></option><option value="right" label="Right"></option><option value="justify" label="Justify"></option></select></span><span class="ql-format-group"><span title="Link" class="ql-format-button ql-link"></span></span></div>
    <div class="controls">
      <div id="content" class="editor ql-container ql-snow"><div class="ql-multi-cursor"><span class="cursor hidden" style="top: 254px; left: 277px; height: 15px;"><span class="cursor-flag"> <span class="cursor-triangle top" style="border-bottom-color: rgba(255, 153, 51, 0.901961);"></span> <span class="cursor-name" style="background-color: rgba(255, 153, 51, 0.901961);">Gandalf</span> <span class="cursor-triangle bottom" style="border-top-color: rgba(255, 153, 51, 0.901961);"></span> </span> <span class="cursor-caret" style="background-color: rgba(255, 153, 51, 0.901961);"></span></span></div><div class="ql-editor authorship" id="ql-editor-2" contenteditable="true"><div><span style="font-size: 18px;">One Ring to Rule Them All</span></div><div><a href="http://en.wikipedia.org/wiki/One_Ring">http://en.wikipedia.org/wiki/One_Ring</a></div><div><br></div><div>Three Rings for the <u>Elven-kings</u> under the sky,</div><div>Seven for the <u>Dwarf-lords</u> in halls of stone,</div><div>Nine for <u>Mortal Men</u>, doomed to die,<span class="author-gandalf">dfs</span></div><div><span class="author-gandalf">dfsdasdf</span></div><div><span class="author-gandalf">dfsdsdfsdfsdsasdf</span></div><div>One for the <u>Dark Lord</u> on his dark throne.</div><div><br></div><div>In the Land of Mordor where the Shadows lie.</div><div>One Ring to <b>rule</b> them all, One Ring to <b>find</b> them,</div><div>One Ring to <b>bring</b> them all and in the darkness <b>bind</b> them.</div><div>In the Land of Mordor where the Shadows lie.</div></div><div class="ql-tooltip ql-link-tooltip" style="left: -10000px;"><span class="title">Visit URL:&nbsp;</span> <a href="#" class="url" target="_blank"></a> <input class="input" type="text"> <span>&nbsp;-&nbsp;</span> <a href="javascript:;" class="change">Change</a> <a href="javascript:;" class="remove">Remove</a> <a href="javascript:;" class="done">Done</a></div><div class="ql-paste-manager" contenteditable="true" tabindex="-1"></div></div>
    </div>
  </div>
  <br/>
</form>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Formatting Help
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
<br/>
<% if @isEdit %>
    <form method="post" action="/blog/del/<%= @blog.id %>">
<% end %>
<div class="control-group">
  <div class="controls">
    <button type="submit" form="blog-make-form" name="draft" class="btn btn-info"><%= (@isEdit && !@blog.draft == 0) ? '<span class="fa fa-eye-slash"></span> Demote to Draft' : '<span class="fa fa-pencil-square-o"></span> Save as Draft' %></button>
    <% if @publishC %>
    <button type="submit" form="blog-make-form" name="publish" class="btn btn-success">
      <span class="fa fa-cloud-upload"></span> Publish Post
    </button>
        <% end %>
    <% if @isEdit && @publishC %>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete Post?');"><span class="fa fa-trash"></span>
          Delete Post
        </button>
    <% end %>
  </div>
</div>
<% if @isEdit %>
    </form>
<% end %>
  <script>
    var fullEditor = new Quill('#content', {
      modules: {
        'authorship': { authorId: 'galadriel', enabled: true },
        'multi-cursor': true,
        'toolbar': { container: '#toolbar' },
        'link-tooltip': true
      },
      theme: 'snow'
    });

    // Add basic editor's author
    var authorship = fullEditor.getModule('authorship');
    authorship.addAuthor('gandalf', 'rgba(255,153,51,0.4)');

    // Add a cursor to represent basic editor's cursor
    var cursorManager = fullEditor.getModule('multi-cursor');
    cursorManager.setCursor('gandalf', fullEditor.getLength()-1, 'Gandalf', 'rgba(255,153,51,0.9)');

    // Sync basic editor's cursor location
    basicEditor.on('selection-change', function(range) {
      if (range) {
        cursorManager.moveCursor('gandalf', range.end);
      }
    });

    // Update basic editor's content with ours
    fullEditor.on('text-change', function(delta, source) {
      if (source === 'user') {
        basicEditor.updateContents(delta);
      }
    });

    // basicEditor needs authorship module to accept changes from fullEditor's authorship module
    basicEditor.addModule('authorship', {
      authorId: 'gandalf',
      color: 'rgba(255,153,51,0.4)'
    });

    // Update our content with basic editor's
    basicEditor.on('text-change', function(delta, source) {
      if (source === 'user') {
        fullEditor.updateContents(delta);
      }
    });
  </script>
</div>