<header class="header-image">
  <div class="headline">
    <div class="container">
      <h2><i class="fa fa-wrench"></i> What Are We Making?</h2>




    </div>
  </div>
</header>

<div class="center">

  <%if session[:visited]%>
      <a id="newblogpost" href="/blog/new">New Post <i class="fa fa-plus"></i></a>
      <hr>
  <% end %>
</div>




<div class="container">
  <!--I removed .reverse_order, to see if that was doing anything-->
  <% @posts.each do |post| %>
      <% if post.draft != 1 || session[:id] != nil %>
<article class="row">
  <div class="col-lg-2 col-md-3 col-sm-3" style="padding-bottom: 5%">
    <p class="clearfix">
      <span class="day" style="color: #8e2522"><%= post.date.strftime("%d") %></span><span class="month-year"><b><%= post.date.strftime("%^b") %></b><br><%= post.date.strftime("%Y") %></span>
    </p>
    <ul class="list-unstyled">


      <li><span class="blog-readable"><i class="fa fa-user" style="color: #8e2522"></i> By <%=@authors.first(:id => post.author).firstname %></span></li>

    </ul>
  </div>

  <div class="col-lg-10 col-md-9 col-sm-9">
    <h3><a href="/blog/v/<%= post.id%>" style="color: #8e2522"><%= post.title%></a>
      <% if post.draft == 1 %>
          <small>(Draft)</small>
      <% end %>
      <%if session[:visited]%>
          <%if @u.perm >= 2 || (@u.id == post.author && post.draft==1) %>

              <a type="submit" class="delete"><i class="fa fa-times fa-lg"></i></a>
              <a class="delete" href="/blog/edit/<%= post.id%>"><i class="fa fa-pencil fa-lg"></i></a>
          <%end%>
      <%end%>
    </h3>
    <hr>
    <img src="<%= post.url %>">
    <div class="post-entry">
      <%= post.content%>
     </div>
  </div>

</article>
<%end%>
  <% end %>

</div>
<script>
  $('.hiddenContent').hide
</script>